form{
    width: 100%;
}
hr{
    color: rgb(0, 0, 0);
    border: 2px solid;
}
input, select{
    text-align: center;
    text-overflow: ellipsis;
    padding: 3px;
    border-radius: 7px;
    border: 1px solid black;
    margin: 0;
}
.form-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border-bottom: 1px solid black;
    padding: 10px;
    height: 8%;
  
}
.form-head .key{
    font-size: 15px;
    text-align: center;
}
.container {
    height: 92%;
    overflow: auto;
    /* background-color: aquamarine; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.container .box-info{
    background-color: rgba(162, 162, 162, 0.116);
    margin: 20px 0px;
    padding: 10px 0px;
    border-radius: 5px;
}
.container .box-info .row{
    /* background-color: beige; */
    margin: 6px 0px;
    align-items: flex-end;

}
.container .box-info .row h4{
    text-align: left;
    margin: 0;
}
.container .box-info .row .box-radio{
    display: flex;
    justify-content: space-around;
}
.container .row-end{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}