input{
    text-align: center;
}
form .container .row .inputbox, .box-radio{
    display: flex;
    justify-content: space-around;
    height: 30px;
}
form .container .row .inputbox div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    background-color: gray;
    color: white;
}
form .container .row .inputbox .input-control{
    border-radius: 0px 5px 5px 0px;
    text-overflow: ellipsis;
    padding: 0px 5px;
}
form .container .row .inputbox .dis-input-control{
    border-radius: 5px;
    text-overflow: ellipsis;
    padding: 0px 5px;
}
form .container .row .inputbox .input-control:focus, .dis-input-control:focus{
    border: 1px solid rgb(0, 147, 0);
    box-shadow: 1px 0px 1px 1px green;
}
form .container .nav-title{
    background-color: cadetblue;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form .container .box-inputs{
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px rgba(128, 128, 128, 0.613);
    padding: 10px;
    height: auto;
}
form .container .box-inputs-incative{
    background-color: rgb(111, 119, 119);
    overflow: hidden;
    padding: 5px 10px;
    height: 0px;
}
form .container .row>.item-title{
    color: white;
    display: flex;
    align-items: center;
    width: auto;
}

form .container .row>.item-title i{
    cursor: pointer;
}
form .container .row>.item-title i:hover{
    color:black;
}